.photo-gallery {
  color: #313437;
  background-color: #fff;
}

.photo-gallery p {
  color: #7d8285;
}

.photo-gallery h2 {
  font-weight: bold;
  margin-bottom: 40px;
  padding-top: 40px;
  color: inherit;
}

@media (max-width:767px) {
  .photo-gallery h2 {
    margin-bottom: 25px;
    padding-top: 25px;
    font-size: 24px;
  }
}

.photo-gallery .intro {
  font-size: 16px;
  max-width: 500px;
  margin: 0 auto 40px;
}

.photo-gallery .intro p {
  margin-bottom: 0;
}

.photo-gallery .photos {
  padding-bottom: 20px;
}

.photo-gallery .item {
  padding-bottom: 30px;
}

.sort .list-group-item:hover {
  background: #1d1d1f;
  color: #b4841e;
}

#sidebar {
  min-width: 400px;
}

#navcol-1 {
  min-width: 500px!important;
}

.navbar .btn {
  margin-top: 4px;
}

.accordion-button:focus {
  z-index: 3;
  border-color: transparent;
  outline: 0;
  box-shadow: none;
}

.tab-content {
  transition: all 1s ease-in;
}

.tags {
  margin-top: 16px;
}

.accordion-item {
  filter: saturate(0.3);
}

.mixitup-control-active {
  background: #393939;
  border-radius: 15px;
}

#sidebar {
}

.ava {
}

