.list-group {
  /*flex-direction: row;*/
  /*border: none;*/
  /*vertical-align: text-top;*/
  display: inline-flex;
}

.navbar-collapse {
  width: 100%;
  overflow-x: scroll;
  /*border-top: solid 1px rgb(194,194,194);*/
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 6px;
  border-top: solid 1px #2f2f2f;
  white-space: nowrap;
  /*height: 150px;*/
}

.list-group-item {
  background: transparent;
  color: white;
}

.list-group-item:first-child {
  /*border-top-left-radius: inherit;*/
  border-bottom: solid 1px rgb(75,75,75);
  font-weight: 500;
  display: inline;
  /*background: #4a4a4a;*/
  color: #9A9A9A!important;
  /*margin-left: 8px;*/
  /*border-radius: 25px;*/
  margin-top: 15px;
  margin-bottom: 8px;
  padding-bottom: 8px;
  font-size: 15px;
  /*border-top-right-radius: inherit;*/
  color: white;
}

.list-group-item {
  border: none;
  font-size: 13px;
  padding: 8px;
  margin-top: 8px;
  /*padding-bottom: 3px;*/
}

.list-group-item:first-child:hover {
  background: transparent;
  user-select: none;
}

.navbar {
  /*flex-wrap: nowrap;*/
  /*white-space: nowrap;*/
  /*overflow-x: scroll;*/
}

.btn {
  padding: 2px;
  border-radius: 15px;
  padding-left: 6px;
  padding-right: 6px;
  font-size: 13px;
  color: #9A9A9A;
}

.navbar-toggler {
  color: white;
}

.list-group-item.disabled {
  /*background-color: transparent;*/
}

.list-group-item-action {
  color: rgb(173,173,173);
}

.navbar-toggler:focus {
  box-shadow: none;
}

.list-group {
  width: 20%!important;
}

.list-group-item:nth-child(2) {
  margin-top: 16px;
}

.list-group-item:last-child {
  margin-bottom: 16px;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.control {
  position: relative;
  display: inline-block;
  width: 2.7rem;
  height: 2.7rem;
  background: #444;
  cursor: pointer;
  /*font-size: 0.1px;*/
  color: white;
  transition: background 150ms;
}

.control-text {
  width: auto;
  font-size: .9rem;
  /*padding: 0 1rem;*/
  font-family: 'helvetica-neue', arial, sans-serif;
  font-weight: 700;
}

.control:not(.mixitup-control-active):hover {
  background: #3f3f3f;
}

.control-sort:after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  border-top: 2px solid;
  border-left: 2px solid;
  top: calc(50% - 6px);
  left: calc(50% - 6px);
  transform: translateY(2px) rotate(45deg);
}

.control-sort[data-sort*=":desc"]:after {
  transform: translateY(-3px) rotate(-135deg);
}

.control:last-of-type {
  border-radius: 0 3px 3px 0;
}

.controls-pagination {
  /*padding: 1rem;*/
  /*font-size: 0.1px;*/
  text-align: justify;
}

.controls-pagination:after {
  content: '';
  display: inline-block;
  width: 100%;
}

.mixitup-page-list, .mixitup-page-stats {
  display: inline-block;
  vertical-align: middle;
}

.mixitup-page-stats {
  font-size: .9rem;
  color: #333;
  font-weight: bold;
  font-family: 'helvetica', arial, sans-serif;
}

nav {
  position: fixed;
}

.list-group-item:hover {
  background: #6562fc;
  border-radius: 16px;
}

.list-group-item {
  cursor: pointer;
}

button {
  /*background: linear-gradient( 0deg , rgba(0,0,0,0.56) 25%, transparent);*/
}

#head {
  background: linear-gradient( 0deg , rgba(0,0,0,0.56) 25%, transparent);
}

li {
  font-size: 13px;
  color: white;
}

.nav-link {
  color: white;
  border-radius: 0;
}

.nav-link.active {
  background: transparent!important;
  color: #7289da!important;
  border-radius: 0;
  box-shadow: 0px 1px #7289da;
  /*box-shadow: -1px 2px #7289da;*/
  /*border-bottom: 1px solid #7289da;*/
  border: none;
}

.nav-link:hover {
  /*border: none;*/
}

.nav-tabs, .nav-link:focus, .nav-tabs, .nav-link:hover {
  /*border: none!important;*/
  border-bottom: 1px solid #dee2e6;
}

.nav-link:focus-visible {
  border: none;
}

.accordion {
  border-radius: 0;
  background: #202225;
}

.accordion-button {
  color: white;
}

.card-body .btn {
  padding: 6px 12px 6px 12px!important;
}

.navbarz {
  position: absolute;
  right: 5%;
  bottom: 30%;
}

