html, body {
  font-family: 'SF Pro Display';
  background: #36393f;
  margin: 0!important;
  padding: 0!important;
}

nav {
  font-size: 15px;
}

.dropdown-toggle.nav-link {
  color: #9a9a9a;
}

li {
  /*color: #9a9a9a;*/
}

.dropdown-menu {
  background: #444446;
  /*color: #9a9a9a!important;*/
  font-size: 13px;
  /*color: #9a9a9a;*/
}

.dropdown-item {
  color: #9a9a9a;
  padding-top: 8px;
  padding-bottom: 8px;
}

.nav-link a {
  color: #9a9a9a;
}

.row {
  height: 100vh;
  padding: 0;
  /*margin: 0;*/
}

div {
}

.container {
  /*width: 100%;*/
  height: 100%;
}

.material-icons {
}

.navbar-light .navbar-toggler-icon {
  background-image: none!important;
}

.navbar-light .navbar-toggler-icon {
  /*background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e);*/
}

#book {
  /*width: 100%;*/
  /*height: 100%;*/
  width: 100%!important;
  height: 100%!important;
  max-width: 100%;
}

.navbar-brand {
  width: 100px;
  display: block;
  height: 20px;
}

.btn-check:focus + .btn-primary, .btn-primary:focus {
  color: #fff;
  background-color: #7472ff;
  border-color: #7472ff;
  box-shadow: 0 0 0 0.25rem #7472ff80;
}

.btn-check:active + .btn-primary, .btn-check:checked + .btn-primary, .btn-primary.active, .btn-primary:active, .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #7472ff;
  border-color: #7472ff;
}

.disabled {
  background: rgb(40,40,40);
}

.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: rgb(40,40,40);
  border-color: rgb(40,40,40);
}

.modal-header {
  border-bottom: 1px solid #3e3e3e;
}

.modal-content {
  border: none;
  background: none;
  border-radius: 15px;
}

div {
}

.w-100 {
  min-width: 160px;
}

