<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Smartbook</title>
    <meta name="theme-color" content="#36393f">
    <meta property="og:description" content="Умная книга с несколькими переводами и иллюстраторами">
    <meta property="og:type" content="website">
    <meta name="description" content="Умная книга с несколькими переводами и иллюстраторами">
    <meta name="" content="">
    <meta property="og:image" content="https://smartbook.pro/assets/img/512.jpg">
    <meta property="og:title" content="Smartbook">
    <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="../assets/img/180.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/img/16.png">
    <link rel="icon" type="image/png" sizes="180x180" href="../assets/img/32.png">
    <link rel="icon" type="image/png" sizes="180x180" href="../assets/img/180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="../assets/img/192.png">
    <link rel="icon" type="image/png" sizes="512x512" href="../assets/img/512.png">
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
    <link rel="manifest" href="../manifest.json">
    <link rel="stylesheet" href="../assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="../assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/fonts/material-icons.min.css">
    <link rel="stylesheet" href="../assets/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="../assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="../assets/css/animate.css">
    <link rel="stylesheet" href="../assets/css/core/asdasd.css">
    <link rel="stylesheet" href="../assets/css/core/Lightbox-Gallery.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="../assets/css/icons.css">
    <link rel="stylesheet" href="../assets/css/info.css">
    <link rel="stylesheet" href="../assets/css/nav-nav.css">
    <link rel="stylesheet" href="../assets/css/scrollbar.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/styles.css">
    <link rel="stylesheet" href="../assets/css/tabs.css">
<script type="text/javascript" src="./app.js"></script>
          <link rel="manifest" href="manifest.json">
</head>

<body style="background: #18191C;">
    <div class="container" id="book">
        <div style="background: url(&quot;../assets/img/unnamed.gif&quot;) center / cover, #7289DA;height: 100px;width: 300px;margin: 17px;"></div>
        <div class="accordion" role="tablist" id="accordion-1">
            <div class="accordion-item" style="border-radius: 0!important;background: url(&quot;../assets/img/back.jpg&quot;) center / cover no-repeat, transparent;">
                <h2 class="accordion-header" role="tab" id="head" style="background: transparent;"><button class="accordion-button" data-bs-toggle="collapse" data-bs-target="#accordion-1 .item-1" aria-expanded="true" aria-controls="accordion-1 .item-1" style="border:none;background: transparent;color: var(--bs-light);border-width: 0;"><span class="htitle" style="margin-left: 0px;">Алиса в Стране Чудес</span><span class="btitle" style="margin-left: 0px;">Alices adventures in Wonderland</span></button></h2>
                <div class="accordion-collapse collapse show item-1" role="tabpanel" data-bs-parent="#accordion-1" style="background: transparent; border-radius:0!important;">
                    <div class="accordion-body">
                        <div class="btn-group tags" role="group"><button class="btn btn-primary" type="button" style="background: #6562fc;color: white;">Детские</button><button class="btn btn-primary" type="button" style="background: #6562fc;color: white;">Классика</button></div><span class="head-title" style="margin-top: 10px;">LEWIS CARROLL</span><span class="head-subtitle">Приключения Алисы в Стране Чудес</span>
                        <p class="card-desc">Алиса, скучающая на берегу реки со своей сестрой, видит спешащего Белого Кролика, держащего в лапке карманные часы. Она следует за ним в кроличью нору<br></p><span class="b-title">1765 ·&nbsp;ВЕЛИКОБРИТАНИЯ · 4+<br></span>
                    </div>
                </div>
            </div>
        </div>
        <div style="background: #202225;">
            <ul class="nav nav-tabs" role="tablist" style="border-width: 1px;">
                <li class="nav-item" role="presentation"><a class="nav-link active" role="tab" data-bs-toggle="tab" href="#tab-1">О книге</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" role="tab" data-bs-toggle="tab" href="#tab-2">Об авторе</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" role="tab" data-bs-toggle="tab" href="#tab-3">Иллюстрации</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" role="tab" data-bs-toggle="tab" href="#tab-4">Переводы</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" role="tabpanel" id="tab-1">
                    <div class="accordion" role="tablist" id="accordion-2">
                        <div class="accordion-item">
                            <h2 class="accordion-header" role="tab"><button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#accordion-2 .item-1" aria-expanded="false" aria-controls="accordion-2 .item-1" style="background: #202225;"><span class="ava"></span><span class="htitle avah">Описание</span><span class="btitle avah">1865 • Льюис Кэрролл</span></button></h2>
                            <div class="accordion-collapse collapse item-1" role="tabpanel" data-bs-parent="#accordion-2" style="background: #202225!important;">
                                <div class="accordion-body">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr data-bss-baguettebox="">
                                                    <th><a href="../assets/img/building.jpg"><img class="img-fluid" src="../assets/img/building.jpg" style="border-radius: 8px;"></a></th>
                                                    <th><a href="../assets/img/building.jpg"><img class="img-fluid" src="../assets/img/building.jpg" style="border-radius: 8px;"></a></th>
                                                    <th><a href="../assets/img/loft.jpg"><img class="img-fluid" src="../assets/img/loft.jpg" style="border-radius: 8px;"></a></th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div><span class="head-title" style="margin-top: 5px;">Text</span><span class="head-subtitle">Text</span>
                                    <p class="card-desc">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p><span class="b-title">Text</span>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" role="tab"><button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#accordion-2 .item-2" aria-expanded="false" aria-controls="accordion-2 .item-2" style="background: #202225;"><span class="i_lustra"></span><span class="htitle">Расширенная версия</span><span class="btitle">Text</span></button></h2>
                            <div class="accordion-collapse collapse item-2" role="tabpanel" data-bs-parent="#accordion-2" style="background: #202225;">
                                <div class="accordion-body"><span class="head-title" style="margin-top: 5px;">Text</span><span class="head-subtitle">Text</span>
                                    <p class="card-desc">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p><span class="b-title">Text</span>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" role="tab"><button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#accordion-2 .item-3" aria-expanded="false" aria-controls="accordion-2 .item-3" style="background: #202225;"><span class="i_lustra"></span><span class="htitle">Техническая информация</span><span class="btitle">Text</span></button></h2>
                            <div class="accordion-collapse collapse item-3" role="tabpanel" data-bs-parent="#accordion-2" style="background: #202225;">
                                <div class="accordion-body"><span class="head-title" style="margin-top: 5px;">Text</span><span class="head-subtitle">Text</span>
                                    <p class="card-desc">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p><span class="b-title">Text</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" role="tabpanel" id="tab-2">
                    <div class="accordion" role="tablist" id="accordion-3">
                        <div class="accordion-item">
                            <h2 class="accordion-header" role="tab"><button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#accordion-3 .item-1" aria-expanded="false" aria-controls="accordion-3 .item-1" style="background: #202225;"><span class="ava"></span><span class="htitle avah">Льюис Керролл</span><span class="btitle avah">1865 • Льюис Кэрролл</span></button></h2>
                            <div class="accordion-collapse collapse item-1" role="tabpanel" data-bs-parent="#accordion-3" style="background: #202225!important;">
                                <div class="accordion-body">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr data-bss-baguettebox="">
                                                    <th><a href="../assets/img/building.jpg"><img class="img-fluid" src="../assets/img/building.jpg" style="border-radius: 8px;"></a></th>
                                                    <th><a href="../assets/img/building.jpg"><img class="img-fluid" src="../assets/img/building.jpg" style="border-radius: 8px;"></a></th>
                                                    <th><a href="../assets/img/loft.jpg"><img class="img-fluid" src="../assets/img/loft.jpg" style="border-radius: 8px;"></a></th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div><span class="head-title" style="margin-top: 5px;">Text</span><span class="head-subtitle">Text</span>
                                    <p class="card-desc">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p><span class="b-title">Text</span>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" role="tab"><button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#accordion-3 .item-2" aria-expanded="false" aria-controls="accordion-3 .item-2" style="background: #202225;"><span class="i_lustra"></span><span class="htitle">Библиография</span><span class="btitle">Text</span></button></h2>
                            <div class="accordion-collapse collapse item-2" role="tabpanel" data-bs-parent="#accordion-3" style="background: #202225;">
                                <div class="accordion-body"><span class="head-title" style="margin-top: 5px;">Text</span><span class="head-subtitle">Text</span>
                                    <p class="card-desc">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p><span class="b-title">Text</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" role="tabpanel" id="tab-3">
                    <div class="accordion" role="tablist" id="accordion-4">
                        <div class="accordion-item">
                            <h2 class="accordion-header" role="tab"><button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#accordion-4 .item-1" aria-expanded="false" aria-controls="accordion-4 .item-1" style="background: #202225;"><span class="ava"></span><span class="htitle avah">Джон Тенниел</span><span class="btitle avah">1865 • John Tenniel • 42 иллюстрации • Оригинал</span></button></h2>
                            <div class="accordion-collapse collapse item-1" role="tabpanel" data-bs-parent="#accordion-4" style="background: #202225!important;">
                                <div class="accordion-body">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr data-bss-baguettebox="">
                                                    <th><a href="../assets/img/building.jpg"><img class="img-fluid" src="../assets/img/building.jpg" style="border-radius: 8px;"></a></th>
                                                    <th><a href="../assets/img/building.jpg"><img class="img-fluid" src="../assets/img/building.jpg" style="border-radius: 8px;"></a></th>
                                                    <th><a href="../assets/img/loft.jpg"><img class="img-fluid" src="../assets/img/loft.jpg" style="border-radius: 8px;"></a></th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div><span class="head-title" style="margin-top: 5px;">Text</span><span class="head-subtitle">Text</span>
                                    <p class="card-desc">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p><span class="b-title">Text</span>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" role="tab"><button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#accordion-4 .item-2" aria-expanded="false" aria-controls="accordion-4 .item-2" style="background: #202225;"><span class="ava"></span><span class="htitle avah">Артур Рэкэм</span><span class="btitle avah">1865 • John Tenniel • 42 иллюстрации</span></button></h2>
                            <div class="accordion-collapse collapse item-2" role="tabpanel" data-bs-parent="#accordion-4" style="background: #202225!important;">
                                <div class="accordion-body">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr data-bss-baguettebox="">
                                                    <th><a href="../assets/img/building.jpg"><img class="img-fluid" src="../assets/img/building.jpg" style="border-radius: 8px;"></a></th>
                                                    <th><a href="../assets/img/building.jpg"><img class="img-fluid" src="../assets/img/building.jpg" style="border-radius: 8px;"></a></th>
                                                    <th><a href="../assets/img/loft.jpg"><img class="img-fluid" src="../assets/img/loft.jpg" style="border-radius: 8px;"></a></th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div><span class="head-title" style="margin-top: 5px;">Text</span><span class="head-subtitle">Text</span>
                                    <p class="card-desc">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p><span class="b-title">Text</span>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" role="tab"><button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#accordion-4 .item-3" aria-expanded="false" aria-controls="accordion-4 .item-3" style="background: #202225;"><span class="ava"></span><span class="htitle avah">Роберт Ингпен</span><span class="btitle avah">1865 • John Tenniel • 42 иллюстрации</span></button></h2>
                            <div class="accordion-collapse collapse item-3" role="tabpanel" data-bs-parent="#accordion-4" style="background: #202225!important;">
                                <div class="accordion-body">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr data-bss-baguettebox="">
                                                    <th><a href="../assets/img/building.jpg"><img class="img-fluid" src="../assets/img/building.jpg" style="border-radius: 8px;"></a></th>
                                                    <th><a href="../assets/img/building.jpg"><img class="img-fluid" src="../assets/img/building.jpg" style="border-radius: 8px;"></a></th>
                                                    <th><a href="../assets/img/loft.jpg"><img class="img-fluid" src="../assets/img/loft.jpg" style="border-radius: 8px;"></a></th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div><span class="head-title" style="margin-top: 5px;">Text</span><span class="head-subtitle">Text</span>
                                    <p class="card-desc">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p><span class="b-title">Text</span>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" role="tab"><button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#accordion-4 .item-4" aria-expanded="false" aria-controls="accordion-4 .item-4" style="background: #202225;"><span class="ava"></span><span class="htitle avah">Юрий Ващенко</span><span class="btitle avah">1865 • John Tenniel • 42 иллюстрации</span></button></h2>
                            <div class="accordion-collapse collapse item-4" role="tabpanel" data-bs-parent="#accordion-4" style="background: #202225!important;">
                                <div class="accordion-body">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr data-bss-baguettebox="">
                                                    <th><a href="../assets/img/building.jpg"><img class="img-fluid" src="../assets/img/building.jpg" style="border-radius: 8px;"></a></th>
                                                    <th><a href="../assets/img/building.jpg"><img class="img-fluid" src="../assets/img/building.jpg" style="border-radius: 8px;"></a></th>
                                                    <th><a href="../assets/img/loft.jpg"><img class="img-fluid" src="../assets/img/loft.jpg" style="border-radius: 8px;"></a></th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div><span class="head-title" style="margin-top: 5px;">Text</span><span class="head-subtitle">Text</span>
                                    <p class="card-desc">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p><span class="b-title">Text</span>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" role="tab"><button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#accordion-4 .item-5" aria-expanded="false" aria-controls="accordion-4 .item-5" style="background: #202225;"><span class="ava"></span><span class="htitle avah">Геннадий Калиновский</span><span class="btitle avah">1865 • John Tenniel • 42 иллюстрации</span></button></h2>
                            <div class="accordion-collapse collapse item-5" role="tabpanel" data-bs-parent="#accordion-4" style="background: #202225!important;">
                                <div class="accordion-body">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr data-bss-baguettebox="">
                                                    <th><a href="../assets/img/building.jpg"><img class="img-fluid" src="../assets/img/building.jpg" style="border-radius: 8px;"></a></th>
                                                    <th><a href="../assets/img/building.jpg"><img class="img-fluid" src="../assets/img/building.jpg" style="border-radius: 8px;"></a></th>
                                                    <th><a href="../assets/img/loft.jpg"><img class="img-fluid" src="../assets/img/loft.jpg" style="border-radius: 8px;"></a></th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div><span class="head-title" style="margin-top: 5px;">Text</span><span class="head-subtitle">Text</span>
                                    <p class="card-desc">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p><span class="b-title">Text</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" role="tabpanel" id="tab-5">
                    <p>Tab content.</p>
                </div>
                <div class="tab-pane" role="tabpanel" id="tab-4">
                    <div class="accordion accordion-flush" role="tablist" id="accordion-5">
                        <div class="accordion-item">
                            <h2 class="accordion-header" role="tab"><button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#accordion-5 .item-1" aria-expanded="false" aria-controls="accordion-5 .item-1" style="background: #202225;"><span class="ava"></span><span class="htitle avah">Оригинал</span><span class="btitle avah">1865 • Льюис Кэрролл</span></button></h2>
                            <div class="accordion-collapse collapse item-1" role="tabpanel" data-bs-parent="#accordion-5" style="background: #202225!important;">
                                <div class="accordion-body">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr data-bss-baguettebox="">
                                                    <th><a href="../assets/img/building.jpg"><img class="img-fluid" src="../assets/img/building.jpg" style="border-radius: 8px;"></a></th>
                                                    <th><a href="../assets/img/building.jpg"><img class="img-fluid" src="../assets/img/building.jpg" style="border-radius: 8px;"></a></th>
                                                    <th><a href="../assets/img/loft.jpg"><img class="img-fluid" src="../assets/img/loft.jpg" style="border-radius: 8px;"></a></th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div><span class="head-title" style="margin-top: 5px;">Text</span><span class="head-subtitle">Text</span>
                                    <p class="card-desc">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p><span class="b-title">Text</span>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" role="tab"><button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#accordion-5 .item-2" aria-expanded="false" aria-controls="accordion-5 .item-2" style="background: #202225;"><span class="ava"></span><span class="htitle avah">Аннотированный перевод</span><span class="btitle avah">2021 • Smartbook&nbsp;</span></button></h2>
                            <div class="accordion-collapse collapse item-2" role="tabpanel" data-bs-parent="#accordion-5" style="background: #202225!important;">
                                <div class="accordion-body">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr data-bss-baguettebox="">
                                                    <th><a href="../assets/img/building.jpg"><img class="img-fluid" src="../assets/img/building.jpg" style="border-radius: 8px;"></a></th>
                                                    <th><a href="../assets/img/building.jpg"><img class="img-fluid" src="../assets/img/building.jpg" style="border-radius: 8px;"></a></th>
                                                    <th><a href="../assets/img/loft.jpg"><img class="img-fluid" src="../assets/img/loft.jpg" style="border-radius: 8px;"></a></th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div><span class="head-title" style="margin-top: 5px;">Text</span><span class="head-subtitle">Text</span>
                                    <p class="card-desc">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p><span class="b-title">Text</span>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" role="tab"><button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#accordion-5 .item-3" aria-expanded="false" aria-controls="accordion-5 .item-3" style="background: #202225;"><span class="ava"></span><span class="htitle avah">Нина Демурова</span><span class="btitle avah">1985 • Перевод</span></button></h2>
                            <div class="accordion-collapse collapse item-3" role="tabpanel" data-bs-parent="#accordion-5" style="background: #202225!important;">
                                <div class="accordion-body">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr data-bss-baguettebox="">
                                                    <th><a href="../assets/img/building.jpg"><img class="img-fluid" src="../assets/img/building.jpg" style="border-radius: 8px;"></a></th>
                                                    <th><a href="../assets/img/building.jpg"><img class="img-fluid" src="../assets/img/building.jpg" style="border-radius: 8px;"></a></th>
                                                    <th><a href="../assets/img/loft.jpg"><img class="img-fluid" src="../assets/img/loft.jpg" style="border-radius: 8px;"></a></th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div><span class="head-title" style="margin-top: 5px;">Text</span><span class="head-subtitle">Text</span>
                                    <p class="card-desc">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p><span class="b-title">Text</span>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" role="tab"><button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#accordion-5 .item-4" aria-expanded="false" aria-controls="accordion-5 .item-4" style="background: #202225;"><span class="ava"></span><span class="htitle avah">Борис Заходер</span><span class="btitle avah">1985 • Перевод</span></button></h2>
                            <div class="accordion-collapse collapse item-4" role="tabpanel" data-bs-parent="#accordion-5" style="background: #202225!important;">
                                <div class="accordion-body">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr data-bss-baguettebox="">
                                                    <th><a href="../assets/img/building.jpg"><img class="img-fluid" src="../assets/img/building.jpg" style="border-radius: 8px;"></a></th>
                                                    <th><a href="../assets/img/building.jpg"><img class="img-fluid" src="../assets/img/building.jpg" style="border-radius: 8px;"></a></th>
                                                    <th><a href="../assets/img/loft.jpg"><img class="img-fluid" src="../assets/img/loft.jpg" style="border-radius: 8px;"></a></th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div><span class="head-title" style="margin-top: 5px;">Text</span><span class="head-subtitle">Text</span>
                                    <p class="card-desc">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p><span class="b-title">Text</span>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" role="tab"><button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#accordion-5 .item-5" aria-expanded="false" aria-controls="accordion-5 .item-5" style="background: #202225;"><span class="ava"></span><span class="htitle avah">Владимир Набоков</span><span class="btitle avah">1986 • Пересказ</span></button></h2>
                            <div class="accordion-collapse collapse item-5" role="tabpanel" data-bs-parent="#accordion-5" style="background: #202225!important;">
                                <div class="accordion-body">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr data-bss-baguettebox="">
                                                    <th><a href="../assets/img/building.jpg"><img class="img-fluid" src="../assets/img/building.jpg" style="border-radius: 8px;"></a></th>
                                                    <th><a href="../assets/img/building.jpg"><img class="img-fluid" src="../assets/img/building.jpg" style="border-radius: 8px;"></a></th>
                                                    <th><a href="../assets/img/loft.jpg"><img class="img-fluid" src="../assets/img/loft.jpg" style="border-radius: 8px;"></a></th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div><span class="head-title" style="margin-top: 5px;">Text</span><span class="head-subtitle">Text</span>
                                    <p class="card-desc">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p><span class="b-title">Text</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><button class="btn btn-primary" type="button" style="width: 100vw;background: #6562fc;font-size: 13px;letter-spacing: -0.08px;font-weight: 300;border-radius: 0;">Читать</button>
    </div>
    <script src="../assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="../assets/js/bs-init.js"></script>
    <script src="../assets/js/SETTINGS.js"></script>
    <script src="../assets/js/jquery.js"></script>
    <script src="../assets/js/1.mixitup.js"></script>
    <script src="../assets/js/2.mixitup-multifilter.js"></script>
    <script src="../assets/js/3.mixitup-pagination.js"></script>
    <script src="../assets/js/4.mixitup.js"></script>
    <script src="../assets/js/Lightbox-Gallery.js"></script>
    <script src="../assets/js/scroll.js"></script>
    <script src="../assets/js/sidebar%20trigger.js"></script>
    <script src="../assets/js/hider.js"></script>
    <script src="../assets/js/baguette.js"></script>
    <script src="../assets/js/btn.js"></script>
    <script src="../assets/js/faver.js"></script>
</body>

</html>